<div style="margin: 0px; font-family: sans-serif,arial,verdana;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#1976D2">
        <tbody>
            <tr>
                <td valign="top" bgcolor="#1976D2" style="border-top:1px solid #1976D2;line-height:0px;padding-right:5px">&nbsp;</td>
                <td width="600" valign="top" bgcolor="#1976D2" style="padding-bottom:10px">
                    <table cellspacing="0" cellpadding="0" border="0" style="width:600px">
                        <tbody>
                            <tr>
                                <td width="120" valign="top" bgcolor="#1976D2">
                                    <a href="http://pirwa.pms" target="_blank"><img width="135" height="60" class="CToWUd" src="http://www.pirwahostels.com/assets-pms/img/pms-text-small.png" style="display: block; border: medium none; font: 25px Arial,Verdana,sans-serif; color: rgb(255, 255, 255); padding: 10px 0px 0px 20px;" alt="PMS"></a>
                                </td>
                                <td align="right" width="480" valign="middle" bgcolor="#1976D2" style="border-top:1px solid #1976D2;padding:0 10px 0 0">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td align="right" style="padding: 5px 10px 5px 0px; font: 18px/20px Arial,Verdana,sans-serif; color: rgb(255, 255, 255);">
                                                    <p style="margin-bottom:15px">Clave de acceso temporal</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top" bgcolor="#1976D2" style="border-top:1px solid #1976D2;line-height:0px;padding-left:5px">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" cellspacing="0" cellpadding="0" border="0"> <tbody><tr> <td valign="top" bgcolor="#1976D2" style="line-height:0px;padding-right:5px">&nbsp;</td> <td width="598" height="20" bgcolor="#FFFFFF" style="border-right:1px solid #1976D2;border-left:1px solid #1976D2;line-height:0px"></td> <td valign="top" bgcolor="#1976D2" style="line-height:0px;padding-left:5px">&nbsp;</td> </tr> </tbody></table>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#e2e2e2" background="http://www.pirwahostels.com/bundles/pirwapaginaen/img/bg/trama-bkg.png">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td width="600" style="padding:0 5px 20px 5px">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td align="center" width="598" style="border-right:1px solid #1976D2;border-left:1px solid #1976D2;border-bottom:1px solid #1976D2">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td valign="top" bgcolor="#FFFFFF">
                                                    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="width:598px">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:20px">
                                                                    <p style="font-size: 14px; line-height: 20px; margin-bottom: 5px; margin-top: 0px;color: #555">Hola <strong>{{usuario.nombre}}</strong>, el sistema ha generado una clave de acceso temporal para tu usuario (<strong>{{usuario.username}}</strong>)</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 20px;">
                                                                    <fieldset style="padding-bottom: 20px;padding-top: 20px;  padding-left: 15px; padding-right: 15px; border: 1px solid #d3e8fc;text-align: center">
                                                                        <p style="margin:0;font-size:28px">{{temporal}}</p>
                                                                    </fieldset>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 20px;">
                                                                    <p style="margin:0;font-size:12px;color:#999999">
                                                                        Si no fuiste tú quién solicitó esta clave, puedes ignorar este mensaje.
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table align="center" cellspacing="0" cellpadding="0" border="0" style="font-family:Arial,Helvetica,sans-serif;font-size:14px!important;line-height:19px!important;color:#333;width:100%">
        <tbody>
            <tr>
                <td height="7" style="line-height: 0px; background: #FDC021 none repeat scroll 0px 0px; border-top: 2px solid #FDC021;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
        <tbody>
            <tr>
                <td align="center" bgcolor="#FFFFFF">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                        <tbody>
                            <tr>
                                <td align="center" style="color:#333333;padding-bottom:20px;padding-top:20px;font-size:13px;font-family:Arial,Verdana,sans-serif;border-bottom:1px solid #cccccc">¿Necesitas ayuda? <a href="mailto:sistemas@pirwahostels.com" style="color:#1976D2;text-decoration:none" target="_blank"> Comunícate con el Dpto. de TI</a>.
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="600" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td align="left" width="600" style="line-height:14px;color:#666666;padding:20px;font-size:10px;font-family:Arial,Verdana,sans-serif">&copy;  Dept. de Tecnologías de la información - <a target="_blank" href="http://www.pirwahostels.com">Pirwa Hostels</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>